extends base

block content
  h1 The Blog
  .blogs
    each blog in blogs 
      div
        h2=blog.title
        h3=blog.date
        h3=blog.location
        pre #{blog.body}
        //- each line in blog.body.split("\n")
        //-   p=line